@model PL.Models.Message.MessageModel

<div class="message right">
    <img src="@Url.Action("GetImage", "Profile", new {id = Model.Sender.Id})" />
    <div class="bubble">
        @Model.Text
    </div>
</div>

