<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="row">
        <h1>Error <span class="cyan">404</span></h1>
    </div>
    <h2>Requested page is not found :(</h2>
</body>
</html>

