@{
    Layout = null;
}
@*<div id="user-profile" class="row fade-in-anim">

    <div id="user-info">
        @Html.Action("Page","Profile")
    </div>
    @if (Request.IsAjaxRequest())
    {
        @Html.Action("Edit")
    }
</div>*@
